# gradle-wrapper.jar는 포함되어야 함 (다른 PC에서 빌드 시 필요)
# gradle-wrapper.jar는 루트 .gitignore에서 예외 처리됨
/.gradle
/captures/
# gradlew는 Flutter가 관리하므로 제외 가능
# /gradlew
# /gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
